div.col {

    display: flex;
    background-color: rgb(13, 13, 13, 0.618);
    padding: 2rem;
    color: whitesmoke;
    border-radius: 20px;
    box-shadow: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10rem;
    margin-top: 5rem;
}

h5.titulo {
    font-size: 2rem;
    text-shadow: 1px 1px 2px #524b4b;
    margin: revert;
}

div.row {
    --bs-gutter-x: -11.5rem;
    display: flex;
    background-color: rgb(13, 13, 13, 0.618);
    padding: 2rem;
    color: whitesmoke;
    border-radius: 50px;
    box-shadow: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
}


div.calendario-canchas {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
}


div.mb-3 {
    margin: 1rem;
    margin-left: 5rem;
    margin-right: 7rem;
    padding: 1rem;
    margin-top: -3rem;
}


input#input1.form-control {
    margin: 5rem;
}

img.imgs-horario {
    width: 10rem;
    object-fit: cover;
  
}

button.reserve-button {

    background-color: #a6a6a6;
    border-radius: 50px;
    height: 1.8rem;
    width: 8rem;
    display: flex!important;
    justify-content: center!important;
    align-items: center;
    color: black!important;
    border-style: none;
    border-radius: 50px;
    margin-left: 38rem;

}


div.horario-text-box{
    display: flex;
    justify-content: flex-start;
}

button.reserve-button:hover {
    color: black;
    background-color: #eefb03;
    font-weight: bold;
}