div.col {
    
        display: flex;
        background-color: rgb(13, 13, 13, 0.618);
        padding: 2rem;
        color: whitesmoke;
        border-radius: 20px;
        box-shadow: 1rem;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10rem;
}



div.row {
    display: flex;
        background-color: rgb(13, 13, 13, 0.618);
        padding: 2rem;
        color: whitesmoke;
        border-radius: 50px;
        box-shadow: 1rem;
        flex-direction: row;
        justify-content: space-evenly;
}


div.calendario-canchas {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
}


div.mb-3{
    margin: 5rem;
}


input#input1.form-control{
    margin: 5rem;
}