a.btn-page{ 
    height: 3rem;
    width: 8rem;
    font-size:large;
    color: black;
    background-color: #eefb03;
    border-radius: 30px;
    border-style:none;
    font-weight: bold;
    margin-right: 24rem;
    margin-top: 4rem;
    margin: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;

}

.col{
    display: flex;
    background-color: rgb(13, 13, 13, 0.618);
    padding: 2rem;
    color: whitesmoke;
    border-radius: 50px;
    box-shadow: 1rem;
    
}

.profilepic{
    border-radius: 40px;
    
}


div.card{
    background-color: rgb(22, 22, 22);
    width: 40rem;
    height: 30rem;
    

}
