a.btn-page{ 
    text-align: center; 
    text-decoration: none;
    
}

.col{
    display: flex;
    background-color: rgb(13, 13, 13, 0.618);
    padding: 2rem;
    color: whitesmoke;
    border-radius: 50px;
    box-shadow: 1rem;
    
}

.profilepic{
    border-radius: 40px;
}



