.colprofesores {
    background-color: #21272d;

}

.profesores {
    background-color: #21272d;
}


.card {
    background-color: #21272d;
}


img.card-img-center {
    margin-left: 20rem;

}

.backbutton {
    background-color: #a6a6a6;
    border-radius: 50px;
    height: 1.8rem;
    width: 8rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    color: black !important;
    border-style: none;
    border-radius: 50px;
    margin-left: 1rem;

}

button.btn-back:hover {
    color: black;
    background-color: #eefb03;
    font-weight: bold;
}