*{
    font-family: 'Roboto', sans-serif;
}

.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.event-text-box{
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.tittle-event{
    color: white;
    font-weight: 900!important;
}

.event-box{
    height: 160px;
    width: 700px;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size:small;
    border-radius: 30px;
    padding: 1rem;
    background-color: rgba(124, 124, 124, 0.618);
    margin-bottom: 1rem;
    margin-left: 4rem;
}

.img-event{
    clip-path: circle();
    width: 18rem;
    object-fit: cover;
}

.event-box-text {
    justify-content: center;
    align-items: center;
    margin-left: 1rem;

}

.btn-box{
    display: flex;
    justify-content:center
}
.reserve-boxes{
    color: white;
    height: 230px;
    width: 500px;
    padding: 2rem 2rem;
    background-color: rgba(13, 13, 13, 0.618);
    border-radius: 50px;
    margin-top: 5rem;
}

.btn-plan{
    height: 1.8rem;
    width: 8rem;
    font-size: small;
    color: black;
    background-color: #eefb03;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
}


/* body{
    width: 100%;
    height:100%;
    position:relative;
    overflow:hidden;
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    black url('https://images.unsplash.com/photo-1439723680580-bfd9d28ef9b6?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') 50% 50% no-repeat;
     //background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
    ),
    rgba(220, 220, 220, 1) url('https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') 50% 50% no-repeat;
    //background-blend-mode: exclusion;
    background-blend-mode: luminosity;
} */

/* .container{
    margin-top: 2rem;
    margin-bottom: 2rem;
} */


.btn {
    position: relative;
    height: 40px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration:none;
    font-weight:800;
    font-size:17px;
    letter-spacing: 0.045em;
    margin-top: 2rem;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    stroke: #eefb03;
    stroke-width: 3;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
    color: white;
    height: 40px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(124, 124, 124, 0.618);
}

.btn:hover svg rect {
    stroke-width: 0;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

.contact-box {
    color: white;
    width: 500px;
    height: 160px;
    padding: 1.5rem 1.5rem;
    background-color: rgba(13, 13, 13, 0.618);
    border-radius: 50px;
    margin-top: 2rem;
}

.contact-tittle {
    font-weight: lighter;
}
.contact-text{
    padding-top: 0.5rem;
    font-size:small;
}

.red-logo{
    height: 3rem;
}

/* h3 {
    padding: 1rem;
    margin-left: 13rem;
} */

/* button{
border-radius: 20px;
text-transform: none;
background-color: yellow;
padding: 0.5rem;
} */

.mini-text-box {
    margin-top: 1rem;
    font-size: unset;
}

.link-new {
    color: white;
}

.btn-contact {
    height: 1.8rem;
    width: 8rem;
    font-size: small;
    color: black;
    background-color: white;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
}

.btn-plan-box {
    color: white;
    width: 500px;
    height: 70px;
    padding: 1.5rem 1.5rem;
    background-color: rgba(137, 137, 137, 0.214);
    border-radius: 50px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.imgs-reserva {
    width: 6rem;
    object-fit: cover;
  
}