body {
  margin: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-image: url(PUNK-ROCK-THE-MAKING_COVER_main.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}




