.eventos{
    display: inline-block;
    border: 1rem black solid;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;
    text-decoration: solid;
    text-shadow: 2px 2px 4px #000000;
    background-color: #21272d;
    color: aliceblue; 
    font-size:x-large
}

button {

    background-color:black;
    color:aliceblue;
    border-radius: 3px;
    font-size: 1.3rem;
    
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

