.nav{
    background: transparent;
    height: 4rem;
    
}

.logo {
    height: 2.5rem;
}

.link {
    color: white;
    font-size: large;
}

.link:hover {
    color: #eefb03;
    font-weight: bold;
}

.link-like-bt {
    background-color: #a6a6a6;
    border-radius: 50px;
    height: 1.8rem;
    width: 8rem;
    display: flex!important;
    justify-content: center!important;
    align-items: center;
    color: black!important;
    border-style: none;
    border-radius: 50px;
    margin-left: 1rem; 
    
    
}

.link-like-bt:hover {
    color: black;
    background-color: #eefb03;
    font-weight: bold;
}


